@font-face {
  font-family: 'Kabel Book BT';
  font-style: normal;
  font-weight: normal;
  src: local('Kabel Book BT'), url('../fonts/Kabel Book BT_0.woff') format('woff');
}

@font-face {
  font-family: 'joannaregular';
  src: url('../fonts/unicode.joanna-webfont.woff2') format('woff2'),
       url('../fonts/unicode.joanna-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  font-family: 'joannaregular';
  font-size: 1.1em;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'Kabel Book BT';
}

.navbar-light {
  background-color: #e1e5e5;
  font-family: 'Kabel Book BT';
  font-size: 1.2em !important;
}
.top-nav-link {
  color:   #424d50 !important;
}
.top-nav-link:hover {
  color: #caa691 !important;
}

.jumbotron {
  background: url('../img/background.jpg') no-repeat center/cover;
  background-attachment: fixed;
  height: 20rem;
}
#resBtn {
  border-radius: 0 !important;
  background-color: #ffffff;
  font-family: 'Kabel Book BT';
  font-weight: bold;
  color:   #424d50;
  border: 3px solid #424d50;
}
#resBtn:hover {
  background-color: #c4e8e1;
}

.plates-container {
  background-image: url('../img/plates.jpg');
  background-size: contain;
  margin-top: 3%;
  padding-top: 4%;
  padding-bottom: 3%;
  
}
.plates-container-inner {
  color: #424d50 !important;
  padding-top: 2%;
  padding-bottom: 4%;
}
.card {
  border: none;
  margin-top: 3%;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    background-color: #e1e5e5;
    color: #424d50;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

#contact-container {
  background: url('../img/contact.jpg') repeat center/cover;
  width: 100%;
  padding: 3%;
  font-size: 1.1em;
  
}
.footer {
  background-color: #424d50;
  padding: 1%;
}
.btn-social-icon {
  color: #caa691;
}
.btn-social-icon:hover {
  color: #e1e5e5;
}